  body {
    background-color: grey;
  }
  h1 {
    font-size: 28px;
    font-weight: 50;
    margin: 1rem 0 3rem;
    text-align: center;
    color: yellow;
  }
  .container {
    background-color: goldenrod;
    max-width: 500px;
    min-height: 300px;
    position: relative;
    left: 400px;
    padding-Top: 25px;
    border: 2px solid black;
    border-radius: 30px;
  }
  .ip {
    width: 300px;
    margin-left: 50px;
  }
  .btn {
    width: 80px;
    color: black;
    text-align: center;
  }
  ol{
      background-color: lightgreen;
      border-radius: 15px;
  }
  a{
    margin-left: 200px;
  }
  